.body{
    margin-right: 0%;
    background-color: rgb(26, 26, 26);
}

.navnav{
    background-color: rgb(60, 61, 60);
    opacity: 85%;
    
}
.navitem{
    color: rgb(37, 250, 90);
    text-decoration: none;
    margin: 0%;
    padding: 7px;
}
.navitem:hover{
    color: rgb(247, 158, 3);
    background-color: rgb(3, 92, 22);
}


.typing{
    color: rgb(247, 158, 3);
}



@keyframes write{
    0%{
        width: 0   ;              
    }
   99%{
       width: 100%;
   }

   100%{
    overflow: hidden;
     visibility: hidden;
   }
}
@keyframes blink{
    0%, 100%{
        border-color: rgb(249, 245, 245);
    }
    50%{
        border-color: transparent;
    }
}
.abx{
    border: 5px solid red;
    color: rgb(4, 248, 244);
    background-color: rgb(4, 4, 4);
}

.photo{
   border-radius: 100%;
   max-height: 400px;
   max-width: 400px;
}
.greena{
    color: rgb(37, 250, 90);
}
.peela{
    color: rgb(255, 254, 254);
}

.icon{
    
    margin: 10px;
    width: 80px;
    height: 80px;
}
.icon:hover{
    background-color: rgb(28, 28, 28);
    opacity: 85%;
}
.footer{
    color: black;
    background-image: linear-gradient(to right, rgb(252, 147, 18) , white, rgb(98, 226, 69) );
    width: 100vw;
    text-align: center;
    
}

