.body{
    margin-right: 0%;
    background-color: rgb(4, 4, 4);
}
.abx{
    border: 5px solid red;
    color: rgb(4, 248, 244);
    background-color: rgb(4, 4, 4);
}

.photo{
   border-radius: 100%;
   max-height: 400px;
   max-width: 400px;
}
.greena{
    color: rgb(37, 250, 90);
}
.peela{
    color: yellow;
}

