.body{
    margin: 0%;
    padding:0%;
    color: rgb(4, 248, 244);
    background-color: rgb(4, 4, 4);
}

.image{
    height: 200px;
    max-width: 100vw;
    background-size: 100%;
    background-image: url("./images/wp5016227-minimal-programming-wallpapers.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
}
.intro{
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    height: 100px;
    width: 100vw;
    color: rgb(10, 238, 227);
    font-family:'Courier New', Courier, monospace;
    font-size: calc(100% + 5vw  );

}
